<style>

.container{
  width: 95%;
}

.header__left {
  vertical-align: top;
  display: inline-block;
  width: 60%;
}

.header__right {
  display: inline-block;
  width: 30%;
}

.message--shorten{
  max-width:200px; /* Customise it accordingly */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
}

.request-heading, .request-item {
  width: 100%;
  border: solid black 1px;
}
</style>

<div class="header">
  <div class="header__left">
    <h1>Support Requests</h1>
  </div>
  <div class="header__right">
    <form action="/requests/search" method="GET">
      <input type="text" name="search" class="form-control" value="">
      <br>
      <input type="submit" value="Search" class="btn btn-primary">
    </form>
  </div>
</div>


<%= paginate(@requests) %>

<div class = "col-md-12 request-heading">
  <label class="col-md-2 control-label">
     Name
  </label>
  <label class="col-md-2 control-label">
    E-mail
  </label>
  <label class="col-md-2 control-label">
    Department
  </label>
  <label class="col-md-3">
    Message
  </label>
  <label class="col-md-3">
    Actions
  </label>
</div>

<% @requests.each do |request| %>

  <div class = "col-md-12 request-item">
    <label class="col-md-2 control-label">
      <%= request.name %>
    </label>
    <label class="col-md-2 control-label">
      <%= request.email %>
    </label>
    <label class="col-md-2 control-label">
      <%= request.department %>
    </label>
    <label class="col-md-3 control-label message--shorten">
      <%= request.message %>
    </label>

    <div class="col-md-3 request-button-group">
        <div class="col-md-4">
          <%= link_to "Edit", edit_request_path(request) %>
        </div>
        <div class="col-md-4">
          <%= link_to "Delete", request_path(request), method: :delete,
                                                  data: {confirm: "Are you sure?"}%>
        </div>
        <div class="col-md-4">

          <form action="/requests/status_change" method="POST">
            <input type="hidden" name="id_status_change" class="form-control" value="<%= request.id %>">
            <br>
            <input type="submit" value="<%= request.status %>" class="btn btn-secondary">
          </form>
        </div>
      </div>
    </div>

  </div>

<% end %>

<%= paginate(@requests) %>
