<style>

.container{
  width: 95%;
  font-size: 0.8em;
}

.header__left {
  display: inline-block;
  width: 40%;
  /* min-width in header to force in-line block wrapping of search*/
  min-width: 300px;
  /*border: black solid 1px;*/
}

.header__right {
  display: inline-block;
  width: 30%;
  text-align: right;
  /*border: black solid 1px;*/
}

.txt-search, .btn-search{
  display: inline-block;
}

.txt-search {
  margin-right: 5%;
  margin-bottom: 5%;
  width: 60%;
  min-width: 200px;
}

.message--shorten{
  max-width:200px; /* Customise it accordingly */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
}

.request-heading, .request-item {
  width: 100%;
  border: solid black 1px;
}

.btn-secondary {
  border: solid black 1px;
  color: white
}

.btn-edit {
  background-color: DarkOrange;
}

.btn-delete {
  background-color: Red;
}

.btn-status-done {
  background-color: DarkGreen;
}

.btn-status-not-done {
  background-color: DarkRed;
}


.pagination_info
{
  text-align: left;
}

.table-medium{
  width: 80%;
}

.btn-group form{
  display: inline;
}

.btn-group--edit-delete-status {
  /*min-width prevents stacking*/
  min-width: 230px;
}


/* mobile resolution */
@media all and (max-width: 900px) and (min-width: 200px) {
    body{
        font-size: 11px;
    }

    .header__right {

      text-align: left;
      /*border: black solid 2px;*/
    }
}

/* alternative to allow the search button to stack if
I didn't set minimum header__left width, less elegant*/
/*@media all and (max-width: 600px) and (min-width: 200px) {

  .txt-search, .btn-search{
    display: block;
  }

  .txt-search {
    width: 50%;
  }

  .btn-search {
    margin-top
  }
}*/



</style>

<div class="header">
  <div class="header__left">
    <h1>Support Requests</h1>
  </div>
  <div class="header__right">
    <form action="/requests/search" method="GET">
      <input type="text" name="search" class="txt-search" value="">
      <input type="submit" value="Search" class="btn btn-primary btn-search">
    </form>
  </div>
</div>

<%= paginate(@requests) %>
<div class="pagination_info">
  <%= page_entries_info @requests %>
</div>

<table class="table table-medium">
   <!-- <caption>Support Requests</caption> -->

  <thead>
    <tr>
      <th class="col-md-2">Name</th>
      <th class="col-md-1">E-mail</th>
      <th class="col-md-1">Department</th>
      <th class="col-md-2">Message</th>
      <th class="col-md-6">Actions</th>
    </tr>

    <!-- <tr>
      <th>Name</th>
      <th>E-mail</th>
      <th>Department</th>
      <th>Message</th>
      <th>Actions</th>
    </tr> -->
  </thead>

  <tbody>

    <% @requests.each do |request| %>

    <tr>
       <td><%= request.name %></td>
       <td><%= request.email %></td>
       <td><%= request.department %></td>
       <td class="message--shorten"><%= request.message %></td>
       <td>
          <div class="btn-group btn-group--edit-delete-status">
            <%= button_to "Edit", edit_request_path(request), method: :get, class: 'btn btn-secondary btn-edit'  %>
            <%= button_to "Delete", request_path(request), method: :delete,
                                                     data: {confirm: "Are you sure?"},
                                                     class: 'btn btn-secondary btn-delete'%>
            <% btn_status = (request.status == "Done")? "btn-status-done" : "btn-status-not-done" %>
            <%= button_to request.status, status_change_request_path(request), method: :post,
                                                    class: "btn btn-secondary #{btn_status}"%>
          </div>
       </td>
    </tr>

    <% end %>

 </tbody>


</table>



<%= paginate(@requests) %>
