<style>

.container{
  width: 95%;
  font-size: 0.8em;
}

h1 {
  margin-bottom: 0px;
}
.support-header {
  display: flex;
  align-items: flex-end;
  /*align-items: center;*/
  justify-content: space-between;
}

.support-header form {
  display: flex;

}

.btn-search {
  display: inline-block;
  float: right;
  /* prevent btn from being resized in mobile mode*/
  max-width: 80px;
}

.txt-search {
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 0px;
  min-width: 150px;
  height: 20px;
  display: inline-block;
  float: right;
}

.message--shorten{
  max-width:200px; /* Customise it accordingly */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
}

.request-heading, .request-item {
  width: 100%;
  border: solid black 1px;
}

.btn{
  padding-top: 0px;
  height: 20px;
}

.btn-secondary {
  border: solid black 1px;
  color: white
}

.btn-edit {}
.btn-delete {}
.btn-status-done {}
.btn-status-not-done {
  background-color: DarkBlue;
}


.pagination_info
{
  text-align: left;
}

.table-medium{
  width: 80%;
}

.btn-group form{
  display: inline;
}

.btn-group--edit-delete-status {
  /*min-width prevents stacking*/
  min-width: 230px;
}


/* mobile resolution */

@media all and (max-width: 650px) and (min-width: 200px) {
    body{
        font-size: 11px;
    }

    h1 {
      margin-bottom: 10px;
    }

    .support-header {
      flex-direction: column;
      align-items: flex-start;
    }

    .support-header form {
      flex-direction: row-reverse;
    }

}
</style>

<div class="row">

  <div class="col-xs-12">
    <div class="support-header">
      <h1>Support Requests</h1>

      <form action="/requests/search" method="GET" class="search-group">
        <input type="text" name="search" class="txt-search" value="">
        <input type="submit" value="Search" class="btn btn-primary btn-search">
      </form>
    </div>

  </div>

</div>

<%= paginate(@requests) %>
<div class="pagination_info">
  <%= page_entries_info @requests %>
</div>

<table class="table table-medium">
   <!-- <caption>Support Requests</caption> -->

  <thead>
    <tr>
      <th class="col-md-2">Name</th>
      <th class="col-md-1">E-mail</th>
      <th class="col-md-1">Department</th>
      <th class="col-md-2">Message</th>
      <th class="col-md-6">Actions</th>
    </tr>

    <!-- <tr>
      <th>Name</th>
      <th>E-mail</th>
      <th>Department</th>
      <th>Message</th>
      <th>Actions</th>
    </tr> -->
  </thead>

  <tbody>

    <% @requests.each do |request| %>

    <tr>
       <td><%= request.name %></td>
       <td><%= request.email %></td>
       <td><%= request.department %></td>
       <td class="message--shorten"><%= request.message %></td>
       <td>
          <div class="btn-group btn-group--edit-delete-status">
            <%= button_to "Edit", edit_request_path(request), method: :get, class: 'btn btn-primary btn-edit'  %>
            <%= button_to "Delete", request_path(request), method: :delete,
                                                     data: {confirm: "Are you sure?"},
                                                     class: 'btn btn-secondary btn-primary'%>
            <% btn_status = (request.status == "Done")? "btn-status-done" : "btn-status-not-done" %>
            <%= button_to request.status, status_change_request_path(request), method: :post,
                                                    class: "btn btn-primary #{btn_status}"%>
          </div>
       </td>
    </tr>

    <% end %>

 </tbody>


</table>



<%= paginate(@requests) %>
