<h1>New Request</h1>

<%= @request.errors.full_messages.join(", ") %>

<%= form_for @request do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div>
    <%= f.radio_button :department, 'sales', :checked => true %>
    <%= label :department_sales, 'Sales' %>
    <%= f.radio_button :department, 'marketing' %>
    <%= label :department_marketing, 'Marketing' %>
    <%= f.radio_button :department, 'technical' %>
    <%= label :department_technical, 'Technical' %>
  </div>

  <div>
    <%= f.label :message %>
    <%= f.text_area :message %>
  </div>

  <%= f.submit "Save" %>

<% end %>
